{{extend 'layout.html'}}


{{block header}}
<center style="background-color: #333; color:white; padding:30px">
	<h1>Information</h1>
</center>
{{end}}

<div style="width:750px;">
<h2>Problems?</h2>
<p>If you're having trouble with something on this site, <a href="https://github.com/toteos/pinguin/issues">submit an issue on our GitHub repository</a> or send an email to <a href="mailto:pinguin@miasm.al">pinguin@miasm.al</a>.</p>

<h2>Development</h2>
<p>Visit our <a href="https://github.com/toteos/pinguin">GitHub repository</a> and help develop.</p>
</div>

{{pass}}



