{{extend 'layout.html'}}


{{block header}}
<center style="background-color: #333; color:white; padding:30px">
	<h1>News</h1>
</center>
{{end}}


<h2>171220</h2>
<p>Thanks for joining, everyone! Here's a list of new stuff that should be coming soon:</p>
<ul>
	<li>Fix various bugs involving the tabs and what's displayed on your home page.</li>
	<li>Give new users a few starting quanta.</li>
	<li>Implement locking quanta (preventing them from being sent or spend).</li>
	<li>Implement spending quanta.</li>
	<li>Implement invitations.</li>
</ul>
<p>If you find bugs or have good ideas, feel free to send them to <a href="mailto:pinguin@miasm.al">pinguin@miasm.al</a>. Or you can ping me (tote).</p>

{{pass}}



